<template name="pickteam">
    <h1>Pick a team</h1>
    <div class="rosters">
        <ul class="nav nav-pills nav-stacked">
          {{#each teams}}
            {{> newgamelist}}
          {{/each}}
          {{> newTeam}}
        </ul>
    </div>
</template>

<template name="newgamelist">
    <li>
        <a href="{{pathFor route='getsession'}}/{{name}}" class="newgame">
          {{name}}
        </a>
    </li>
</template>

<template name="newTeam">
    <li>
        <a href="{{pathFor route='getsession'}}/Guest Session" class="newgame">
          Start without picking a team!
        </a>
    </li>
</template>