<template name="summary">
	<h2>Stats Summary for {{sessionName}}</h2>

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Player Statistics</div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quaffle Points</th>
        <th>Snitch Points</th>
      </tr>
    </thead>
    <tbody>
    {{#each playerList}}
      {{#each players}}
        <tr>
          <td>{{playerName}}</td>
          <td>{{quafflePoints}}</td>
          <td>{{snitchPoints}}</td>
        </tr>
      {{/each}}
    {{/each}}
  </tbody>
  </table>
</div>
	{{> exportSummaryData}}
</template>

<template name="exportSummaryData">
	<button id="exportData" class="btn btn-primary">Export Summary Data</button>
</template>
