<template name="quidstats">
  {{> goToSummary}}
    <!-- Session Name, not team name. dis gotta be changed -->
    <h1 id="sessionName">{{teamName}}</h1>
  {{> quafflePlayers}}
  {{> snitchPlayers}}
</template>

<template name="quafflePlayers">
    <div id="quafflePlayers">
        <h3>Quaffle Points</h3>
        <div id="quafflePlayerList">
          {{#each quafflePlayersList}}
            {{#each players}}
              {{> displayQuafflePlayer}}
            {{else}}
            {{/each}}
          {{/each}}
        </div>
    </div>
    {{> addNewQuafflePlayer}}
</template>

<template name="displayQuafflePlayer">
    {{#if displayQuaffle}}
        <div class="player">
            <p class="playerName">{{playerName}}</p>
            <button class="btn btn-primary quafflePnt" id="{{playerName}}">+10</button>
            <p class="quafflePoints">{{quafflePoints}}</p>
        </div>
    {{/if}}
</template>

<template name="snitchPlayers">
    <div id="snitchPlayers">
        <h3>Snitch Grabs</h3>
        <div id="snitchPlayerList">
          {{#each snitchPlayersList}}
            {{#each players}}
              {{> displaySnitchPlayer}}
            {{else}}
            {{/each}}
          {{/each}}
        </div>
    </div>
    {{> addNewSnitchPlayer}}
</template>

<template name="displaySnitchPlayer">
    {{#if displaySnitch}}
        <div class="player">
            <p class="playerName">{{playerName}}</p>
            <button class="btn btn-primary snitchPnt" id="{{playerName}}">+30</button>
            <p class="snitchPoint">{{snitchPoints}}</p>
        </div>
    {{/if}}
</template>

<template name="addNewQuafflePlayer">
    <button class="btn btn-primary addQuafflePlayer">Add New Player</button>
</template>

<template name="addNewSnitchPlayer">
    <button class="btn btn-primary addSnitchPlayer">Add New Player</button>
</template>

<template name="goToSummary">
    <a href="{{pathFor route='summary'}}" class="save_end">Save + End</a>
</template>