<template name="quidstats">
  {{> goToSummary}}
    <!-- Session Name, not team name. dis gotta be changed -->
    <h1 id="sessionName">{{teamName}}</h1>
  {{> quafflePlayers}}
  {{> snitchPlayers}}
</template>

<template name="quafflePlayers">
    <div id="quafflePlayers">
        <h3>Quaffle Points</h3>
        <div id="quafflePlayerList">
          {{#each quafflePlayersList}}
            {{#each quafflePlayers}}
              {{> displayQuafflePlayer}}
            {{else}}
            {{/each}}
          {{/each}}
        </div>
    </div>
    {{> addNewQuafflePlayer}}
</template>

<template name="displayQuafflePlayer">
    <div class="player">
        <p class="name">{{name}}</p>
        <button class="btn btn-primary quafflePnt">+10</button>
        <p class="score">{{score}}</p>
    </div>
</template>

<template name="snitchPlayers">
    <div id="snitchPlayers">
        <h3>Snitch Grabs</h3>
        <div id="snitchPlayerList">
          {{#each snitchPlayersList}}
            {{#each snitchPlayers}}
              {{> displaySnitchPlayer}}
            {{else}}
            {{/each}}
          {{/each}}
        </div>
    </div>
    {{> addNewSnitchPlayer}}
</template>

<template name="displaySnitchPlayer">
    <div class="player">
        <p class="name">{{name}}</p>
        <button class="btn btn-primary snitchPnt">+30</button>
        <p class="score">{{score}}</p>
    </div>
</template>

<template name="addNewQuafflePlayer">
    <button class="btn btn-primary addQuafflePlayer">Add New Player</button>
</template>

<template name="addNewSnitchPlayer">
    <button class="btn btn-primary addSnitchPlayer">Add New Player</button>
</template>

<template name="goToSummary">
    <a href="{{pathFor route='summary'}}" class="save_end">Save + End</a>
</template>