/* CSS declarations go here */
button {
	display: inline-block;
}

button.addQuafflePlayer {
	background-color: #908b9f;
	border: #908b9f;
}

button.addQuafflePlayer:hover {
	background-color: #817d90;
	border: #817d90;
}

button.addSnitchPlayer {
	background-color: #908b9f;
	border: #908b9f;
}

button.addSnitchPlayer:hover {
	background-color: #817d90;
	border: #817d90;
}

button.quafflePnt {

}

button.snitchPnt {
	background-color: #c3a60c;
	border: #c3a60c;
}

button.snitchPnt:focus {
	background-color: #c3a60c;
	border: #c3a60c;
}

button.snitchPnt:hover {
	background-color: #a38a03;
	border: #a38a03;
}

div {
	height: auto;
}

h1 {
	margin-left: 5px;
}

h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

p {
	display: inline-block;
	margin: 2px 5px;
}

.addQuafflePlayer {
	margin-left: 10px;
}
.addSnitchPlayer {
	margin-left: 10px;
}

.increment {
	height: 100%;
	width: 80px;
}

.name {
	/*border: 1px solid red;*/
	box-sizing: border-box;
	display: inline-block;
	max-width: 170px;
	width: 100%;
}

.player {
	margin: 4px 0px;
	max-width: 300px;
	width: 100%;
}

.playerName {
	width: 140px;
}

.points {
	margin-left: 10px;
	text-align: right;
	width: 20px;
}

#quafflePlayers{
	margin-left: 10px;
	margin-top: 5px;
}

#snitchPlayers{
	margin-left: 10px;
	margin-top: 10px;
}