<template name="rosters">

    <div class="newRosters">
        <form class="new-roster">
            <input type="text" name="text" placeholder="Type to add a new roster" />
        </form>
    </div>

    <div class="rosters">
        <ul class="nav nav-pills nav-stacked">
          {{#each teams}}
              {{> teamlist}}
          {{/each}}
        </ul>
    </div>
</template>

<template name="teamlist">
    <li><a href="{{pathFor route='rosters'}}/{{name}}">{{name}}</a></li>
</template>

<template name="teamroster">
    <h2>{{name}}</h2>
    <div class="newPlayers">
        <form class="new-players">
            <input type="text" name="text" placeholder="Type to add a new player" />
        </form>
    </div>

    <ul>
      {{#each players}}
        <li>{{playerName}}</li>
      {{/each}}
    </ul>
</template>