<template name="summary">
	<h2>Stats Summary for {{teamName}} on {{date}}</h2>
	<ul class="list-group">
		{{#each playerList}}
          {{#each players}}
              <li class="list-group-item">
                {{playerName}}
                  <span class="badge quaffleBadge">{{quafflePoints}}</span>
                  <span class="badge snitchBadge">{{snitchPoints}}</span>
              </li>
          {{/each}}
        {{/each}}

	</ul>
	{{> exportSummaryData}}
</template>

<template name="exportSummaryData">
	<button id="exportData" class="btn btn-primary">Export Summary Data</button>
</template>
